* {
  margin: 0;
  padding: 0;
  color:black;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-bottom: 2px solid gray;
}

nav p {
  padding: 15px;
  font-size: xx-large;
  color: black;
}

img {
  width: 3vw;
  color:white;
}
img:hover {
  cursor: pointer;
}
