* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px;
  border-bottom: 2px solid gray;
}
nav p{
    padding:15px;
    font-size: x-large;
    color:#2a417d;
}


img{
  width:3vw;
}
img:hover{
  cursor: pointer;
}