.user-welcome {
    margin-top: 2.5%;
  text-align: center;
  color: whitesmoke;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 55vh;
  color: white;
}

.total,
.completed {
  border: 2px solid rgba(224, 220, 220, 0.7);
  height: 85%;
  width: 30vw;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}
.value{
    padding: 2%;
    font-size: 8rem;
}
.logout-btn {
  margin: auto;
  position: relative;
  left: 47%;
  top: 5%;
  margin-top: 2.5rem; 
  padding: 5px;
  background-color: rgba(46, 160, 67,0.5);

}
.logout-btn:hover {
  cursor: pointer;
  background-color: rgba(46, 160, 67,1);
}
